body{
    background-color:peachpuff
    

}

form.cal {text-align:center;}
form.cal{font-family: Comic Sans MS;}
form.cal{color:yellowgreen;}
p.ti{font-size:300%;}
p.php{font-size:200%}
p.php{color:orangered}
p.php{text-align:center}
p.result{text-align:center}
p.result{font-size:200%}
p.result{color:salmon}